src/
out/
node_modules/
.vscode/
eslint.config.mjs
.prettierrc
tsconfig.json
esbuild.mjs
*.map
instructions/
vendor/**/*.zip
vendor/**/*.pdf
vendor/**/*.txt
vendor/**/wget.*
vendor/**/batch-example.bat
test-*.ps1
